{% extends 'base.html' %}

{% block content %}
<!-- ======= Hero Section ======= -->
{% load static %}
<section id="hero" class="hero">
    <div class="position-relative hero-background">
      <img class="hero-background-img" src="{% static 'assets/img/daklak.jpeg' %}" alt="">
      
    </div>

    <div class="icon-boxes position-relative">
      <div class="container position-relative">
        <div class="row gy-4 mt-5">

          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box">
              <div class="box-img">
                <div class="img"><img src="{% static 'assets/img/khihau.jpeg' %}"></div>
              </div>
              <div class="icon-box-content">
                <h4 class="title"><a href="" class="stretched-link">Khí hậu</a></h4>
                <p>Khí hậu Đắk Lắk có đặc điểm chung với khí hậu Tây Nguyên, được xem là khí hậu nhiệt đới gió mùa, với đặc điểm chính là mùa khô và mùa mưa rõ rệt.</p>
              </div>
            </div>
          </div><!--End Icon Box -->

          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box">
              <div class="box-img">
                <div class="img"><img src="{% static 'assets/img/thiennhien.jpeg' %}"></div>
              </div>
              <div class="icon-box-content">
                <h4 class="title"><a href="" class="stretched-link">Thiên nhiên</a></h4>
                <p>Đắk Lắk được bao phủ bởi các dãy núi, đồi và thung lũng xanh tươi. Các sườn núi và đồi bao quanh tỉnh tạo nên những khung cảnh ngoạn mục và một môi trường sống tự nhiên đa dạng. </p>
              </div>
            </div>
          </div><!--End Icon Box -->

          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="icon-box">
              <div class="box-img">
                <div class="img"><img src="{% static 'assets/img/connguoi.jpeg' %}"></div>
              </div>
              <div class="icon-box-content">
                <h4 class="title"><a href="" class="stretched-link">Con người</a></h4>
                <p>Người Đắk Lắk có nền văn hóa phong phú và đậm đà, gắn liền với đời sống nông nghiệp và những hoạt động giao thương truyền thống. Họ có một truyền thống văn hóa màu sắc, với các nghi lễ, hát, nhảy và truyền thống chăm sóc gia đình và cộng đồng.</p>
              </div>
            </div>
          </div><!--End Icon Box -->

          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="icon-box">
              <div class="box-img">
                <div class="img"><img src="{% static 'assets/img/amthuc.jpeg' %}"></div>
              </div>
              <div class="icon-box-content">
                <h4 class="title"><a href="" class="stretched-link">Ẩm thực</a></h4>
                <p>Ẩm thực và đặc sản Đắk Lắk rất đa dạng và độc đáo, phản ánh nền văn hóa và đặc trưng của vùng Tây Nguyên, trong đó nổi tiếng với cà phê, có hương vị đặc trưng, thơm ngon và có chất lượng cao.</p>
              </div>
            </div>
          </div><!--End Icon Box -->

        </div>
      </div>
    </div>

    </div>
  </section>
  <!-- End Hero Section -->

  <main id="main">

    <section id="why-us" class="why-us">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Cùng khám phá <span>Đắk Lắk?</span></h2>
        </div>

        <div class="row gx-5">
          <div class="col-lg-4">
            <div class="quote-box" data-aos="fade-up" data-aos-delay="100">
              <div class="quote-content">
                <p class="quote">"Con người không quyết định những chuyến đi, chính các hành trình quyết định con người"</p>
                <p class="author">_John Steinbeck_</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 box-col">
            <div class="light-box col-2-box" data-aos="fade-up" data-aos-delay="200">
              <h4 class="title">Địa điểm du lịch</h4>
              <p class="content">Đắk Lắk - Vùng đất Tây Nguyên thơ mộng, hứa hẹn mang đến cho du khách những trải nghiệm du lịch tuyệt vời và khám phá những bí mật đặc biệt của miền đất này.</p>
              <p class="content"><a href="">Xem thêm >></a></p>
            </div>
            <div class="bold-box col-2-box" data-aos="fade-up" data-aos-delay="300">
              <h4 class="title">Đặc sản</h4>
              <p class="content">Thiên đường của những hương vị độc đáo, với cà phê thơm ngon, bánh mì nướng giòn tan, nem nướng hấp dẫn và canh chua tươi ngon, hứa hẹn đưa bạn vào một cuộc hành trình ẩm thực đặc sản không thể bỏ qua.</p>
              <p class="content"><a href="">Xem thêm >></a></p>
            </div>
          </div>
          <div class="col-lg-4 box-col">
            <div class="bold-box col-3-box" data-aos="fade-up" data-aos-delay="400">
              <h4 class="title">Lưu trú</h4>
              <p class="content">Dịch vụ lưu trú mang đến không gian thoải mái, tiện nghi và phục vụ tận tâm, tạo điều kiện lý tưởng để du khách thư giãn và khám phá vẻ đẹp thiên nhiên và văn hóa độc đáo của vùng Tây Nguyên này.</p>
              <p class="content"><a href="">Xem thêm >></a></p>
            </div>
            <div class="light-box col-3-box" data-aos="fade-up" data-aos-delay="500">
              <h4 class="title">Ăn uống</h4>
              <p class="content">Dịch vụ ăn uống đem đến trải nghiệm tuyệt vời với các món ăn độc đáo và đặc sản hương vị Tây Nguyên, kết hợp với không gian thoáng đãng và phục vụ chuyên nghiệp, mang đến một trải nghiệm ẩm thực đáng nhớ.</p>
              <p class="content"><a href="">Xem thêm >></a></p>
            </div>
          </div>
        </div>

      </div>
    </section>

    <section id="features" class="features">
    <div class="container-fluid" data-aos="fade-up">
      <div class="section-title">
        <h2>Lễ hội Cà phê Buôn Ma Thuật</h2>
      </div>
      <div class="row">
        <div class="image col-lg-6" style="background-image: url('{% static "assets/img/cafe.jpeg" %}');" data-aos="fade-right"></div>
        <div class="col-lg-6" data-aos="fade-left" data-aos-delay="100">
          <div class="icon-box mt-5 mt-lg-0" data-aos="zoom-in" data-aos-delay="150">
            <i class="bx bxs-school"></i>
            <h4>Giới thiệu</h4>
            <p>Lễ hội Cà phê Buôn Ma Thuột - Hành trình tận hưởng hương vị cà phê: Lễ hội này là một sự kiện đặc biệt tại "thủ phủ cà phê" của Việt Nam, nơi du khách có thể tham gia vào các hoạt động như thưởng thức cà phê ngon, tham quan vườn cà phê, trải nghiệm quá trình sản xuất cà phê và tham dự các cuộc thi liên quan đến cà phê.</p>
            <p>Hòa mình vào không gian văn hóa Tây Nguyên: Với các hoạt động diễn ra trong lễ hội, du khách có cơ hội khám phá và trải nghiệm văn hóa độc đáo của người Tây Nguyên, từ những điệu múa, âm nhạc địa phương đến trình diễn nghệ thuật dân gian và truyền thống.</p>
            <p><a href="">Xem thêm >></a></p>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Features Section -->


  {% if blog_list %}
    <section id="news" class="news">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>Tin tức <span>nổi bật</span></h2>
        </div>
        <div class="swiper-wrap">
          <div class="article-slider article-slider-2 swiper">
            <div class="swiper-wrapper">
                {% for blog in blog_list %}
              <div class="swiper-slide">
                <div class="article-wrapper">
                  <div class="img">
                    <img src="{% static 'assets/' %}{{ blog.blogImage }}" />
                  </div>
                  <h2 class="title"><a href="#">{{blog.blogTitle}}</a></h2>
                </div>
              </div>
              {%endfor%}
            </div>
            <div class="swiper-pagination"></div>
          </div>
          <div class="swiper-2-button-next">></div>
          <div class="swiper-2-button-prev"><</div>
        </div>
      </div>
    </section>
    {% endif %}

    

    <section id="visa-students" class="visa-students">
      <div class="container" data-aos="fade-up">
        <div class="section-header row">
          <div class="col-lg-10 col-md-10"><h2>Chia sẻ của <span>khách du lịch</span></h2></div>
          <div class="col-lg-2 col-md-2 text-end"><a class="header-btn" href="#">Xem toàn bộ</a></div>
        </div>
        <div class="students-slider swiper">
          <div class="swiper-wrapper align-items-center">
            <div class="swiper-slide">
              <div class="student-slide">
                <div class="row">
                  <div class="col-lg-4 col-md-6 col-sm-12 d-flex justify-content-center">
                    <div class="student-img">
                      <img src="{% static 'assets/img/team/team-1.jpg' %}" class="img-fluid" alt="">
                    </div>
                  </div>
                  <div class="col-lg-8 col-md-6 col-sm-12 d-flex justify-content-center">
                    <div class="student-info">
                      <h3>Lê Hoàng Trung Anh</h3>
                      <p>2005 - Hải Phòng</p>
                      <div class="quote align-items-center">
                        <p>Đắk Lắk là điểm đến lý tưởng cho những ai muốn tìm hiểu và trải nghiệm văn hóa đa dạng của người dân Tây Nguyên, từ các lễ hội truyền thống đến các nét văn hóa đặc trưng như cà phê, giao thoa giữa truyền thống và hiện đại.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="student-slide">
                <div class="row">
                  <div class="col-lg-4 col-md-6 col-sm-12 d-flex justify-content-center">
                    <div class="student-img">
                        <img src="{% static 'assets/img/team/team-1.jpg' %}" class="img-fluid" alt="">
                    </div>
                  </div>
                  <div class="col-lg-8 col-md-6 col-sm-12 d-flex justify-content-center">
                    <div class="student-info">
                      <h3>Lê Hoàng Trung Anh</h3>
                      <p>2005 - Hải Phòng</p>
                      <div class="quote align-items-center">
                        <p>Đắk Lắk là điểm đến lý tưởng cho những ai muốn tìm hiểu và trải nghiệm văn hóa đa dạng của người dân Tây Nguyên, từ các lễ hội truyền thống đến các nét văn hóa đặc trưng như cà phê, giao thoa giữa truyền thống và hiện đại.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="student-slide">
                <div class="row">
                  <div class="col-lg-4 col-md-6 col-sm-12 d-flex justify-content-center">
                    <div class="student-img">
                        <img src="{% static 'assets/img/team/team-1.jpg' %}" class="img-fluid" alt="">
                    </div>
                  </div>
                  <div class="col-lg-8 col-md-6 col-sm-12 d-flex justify-content-center">
                    <div class="student-info">
                      <h3>Lê Hoàng Trung Anh</h3>
                      <p>2005 - Hải Phòng</p>
                      <div class="quote align-items-center">
                        <p>Đắk Lắk là điểm đến lý tưởng cho những ai muốn tìm hiểu và trải nghiệm văn hóa đa dạng của người dân Tây Nguyên, từ các lễ hội truyền thống đến các nét văn hóa đặc trưng như cà phê, giao thoa giữa truyền thống và hiện đại.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="student-slide">
                <div class="row">
                  <div class="col-lg-4 col-md-6 col-sm-12 d-flex justify-content-center">
                    <div class="student-img">
                        <img src="{% static 'assets/img/team/team-1.jpg' %}" class="img-fluid" alt="">
                    </div>
                  </div>
                  <div class="col-lg-8 col-md-6 col-sm-12 d-flex justify-content-center">
                    <div class="student-info">
                      <h3>Lê Hoàng Trung Anh</h3>
                      <p>2005 - Hải Phòng</p>
                      <div class="quote align-items-center">
                        <p>Đắk Lắk là điểm đến lý tưởng cho những ai muốn tìm hiểu và trải nghiệm văn hóa đa dạng của người dân Tây Nguyên, từ các lễ hội truyền thống đến các nét văn hóa đặc trưng như cà phê, giao thoa giữa truyền thống và hiện đại.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </section>

{% endblock %}